.carousel-item .overlay {
    background: rgba(0, 0, 0, .8);
}

.carousel-item img {
    width: 100%;
    max-height: 670px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: white;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

@media only screen and (max-width: 600px) {
    .carousel-item img {
        width: 220%;
        height: 640px;
    }
}

/* BENAR: .foto-profil aktif di semua ukuran layar */
.foto-profil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
}